<p>NextGate Music is a sleek front-end application to search for artists and singers. Use the search bar to begin.</p>

<div class="singers_table">
	<h1>
	  Listing Singers
	</h1>
	<table class="table table-sm">
	  <tr class="row">
	    <th>Name</th>
	    <th>DOB</th>
	    <th>Sex</th>
	  </tr>
	 
	  <% @singer.each do |singer| %>
	    <tr class="row">
	      <td><%= singer.name %></td>
	      <td><%= singer.dob %></td>
	      <td><%= singer.sex %></td>
	    </tr>
	  <% end %>
	</table>
</div>

<div class="albums_table">
	<h1>
	  Listing Albums
	</h1>
	<table  class="table table-sm">
	  <tr class="row">
	    <th>Album Name</th>
	    <th>Singer</th>
	    <th>Release Year</th>
	    <th>Record Company</th>
	  </tr>
	 
	  <% @album.each do |album| %>
	    <tr class="row"> 
	      <td><%= album.album_name %></td>
	      <td><%= Singer.find(album.ng_singers_id).name %></td>
	      <td><%= album.release_year %></td>
	      <td><%= album.record_company %></td>
	    </tr>
	  <% end %>
	</table>
</div>
