<h1> New Singer </h1>

<%= form_for @singer do |f| %>
 
  <% if @singer.errors.any?
      flash.now[:error] = pluralize(@singer.errors.count, "error") + " prohibited" + " this singer from being saved: <ul>"
        @singer.errors.full_messages.each do |msg| 
          flash.now[:error] = flash.now[:error] + "<li>" + msg + "</li>"
        end 
      flash.now[:error] = flash.now[:error] + "</ul>" 
  end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :sex %><br>
    <%= f.label :sex, "Male", :value => "true"  %>
    <%= f.radio_button(:sex,"MALE") %>
    <%= f.label :sex, "Female" %>
    <%= f.radio_button(:sex,"FEMALE") %>
  </p>

  <p>
    <%= f.label "Date of birth" %><br>
    <%= f.date_select(:dob, :order => [:month, :day, :year], :start_year => 1900) %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

