<h1> New Album </h1>

<%= form_for setup_album(@album) do |f| %>
 

   <% if @album.errors.any?
      flash.now[:error] = pluralize(@album.errors.count, "error") + " prohibited" + " this album from being saved: <ul>"
        @album.errors.full_messages.each do |msg| 
          flash.now[:error] = flash.now[:error] + "<li>" + msg + "</li>"
        end 
      flash.now[:error] = flash.now[:error] + "</ul>" 
  end %>
   
  <p>
    <%= f.label "Album name" %><br>
    <%= f.text_field :album_name %>
  </p>
 
  <p>
    <%= f.fields_for :singer do |ff| %>
    <%= ff.label "Singer" %><br>
    <%= ff.text_field :name %>
    <% end %>
  </p>

  <p>
    <%= f.label "Release year" %><br>
    <%= f.text_field :release_year %>
  </p>
 
  <p>
    <%= f.label "Record Company" %><br>
    <%= f.text_field :record_company %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>

