<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.nextgate.com"><img src="http://www.nextgate.com/wp-content/uploads/2015/05/nextgate-logo.png" height="20"></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <% if !@disable_nav %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if !@disable_search %>
      <form class="navbar-form navbar-left" role="search">
        <%= form_tag("sessions/home", class: "form-horizontal", role: "search") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search Singers or Albums", class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <%end%>
      </form>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", controller: "home" %></li>
        <li><%= link_to "Logout", controller: "logout" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Add Content <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Add Singer", new_singer_path %></li>
            <li><%= link_to "Add Album", new_album_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Add User</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <% end %>
  </div><!-- /.container-fluid -->
</nav>