<!DOCTYPE html>
<html>
<head>
  <title>NextGate Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
    <% if @disable_nav %>
      <%= render partial: "dumb_navbar" %>
    <% else %>
      <%= render partial: "navbar" %>
    <% end %>
    
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>

</body>
</html>
